body {
    font-family: "lato", sans-serif;
    background-color: whitesmoke;
}

.accueil {
    background-color: white;
    padding-bottom: 50px;
    min-height: calc(100vh - 140px);
}

.navbar-custom {
    background-color: #0074be;
    box-shadow: 0rem 0rem 1rem 0.25rem rgba(0, 0, 0, 0.295);
}

.navbar-toggler-custom {
    background-color: white;
    border-radius: 90rem;
    padding-top: 0.25rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

.navbar, .navbar .navbar-nav .nav-link.active{
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav-link {
    color: black;
}

.navbar-toggler:focus {
    box-shadow: 0rem 0rem 0rem 0.1rem;
}

.footer {
    background: #0074be;
    color: white;
    width: 100%;
    height: 60px;       
    box-shadow: 0rem 0rem 1rem 0.25rem rgba(0, 0, 0, 0.295);        
}

.icon-logo {
    text-align: center;
    display: flex;
    width: 100%;
    padding-top: 0.5rem;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
}

.logoACLF {
    padding-top: 1rem;;
    text-align: center;
}

.phrase-accroche {
    color:#52b64e;
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
    padding-top: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.style-question {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    text-decoration: underline black;
    line-height: 3.5rem;
}

.image-presentation {
    text-align: center;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.style-titre {
    color:#0074be;
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.style-paragraphe {
    color:#848484;
    text-align: center;
    font-size: 12pt;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.bouton-custom {
    background-color: #52b64e;
    border-radius: 20rem;
    box-shadow: 0rem 0rem 0.8rem 0.2rem rgba(0, 0, 0, 0.295);
}

.card {
    border: 0px;
}

.card-title {
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
}

.card-img-overlay {
    position: relative;
    display: block;
}

.card-text {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    
}

.separation {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
}